{% extends 'base.html.twig' %}

{% block title %}New Lieu{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ asset('assets/css/containerPrinc.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/styleNewLieu.css') }}">

{% endblock %}

{% block body %}

    <div class="containerPrinc back">

        <div class="flexerMID ez">
            <fieldset class="fieldset1">
                <legend>Création d'un Lieu</legend>
                <div class="flexerMID ez">

                <div class="bref">
                {{ include('lieu/_form.html.twig') }}
                </div>

                <a href="{{ path('app_lieu_index') }}">Retour à la liste</a>
                </div>
            </fieldset>

        </div>
    </div>

{% endblock %}
