{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h2>modifier mon profil</h2>



    {{ form(ModifierType) }}

    <button>Valider modification</button>

{% endblock %}
