{% extends 'base.html.twig' %}

{% block head %}
<head>
    <title>Barre de navigation</title>
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
</head>
{% endblock %}


{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <div class="test"> </div>

{% endblock %}
