{% extends 'base.html.twig' %}

{% block header %}
<head>
    <title>Barre de navigation</title>
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
</head>
{% endblock %}


{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="test">

    <h1 class="title">Organiser vos Sorties !</h1>

</div>

{% endblock %}
