{% extends 'base.html.twig' %}

{% block header %}
<head>
    <title>Barre de navigation</title>
    <link rel="stylesheet" href="{{ asset('assets/css/home.scss') }}">
</head>
{% endblock %}


{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="test">
    <div class="bouton">
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Connectez-vous !
        </a>
    </div>
</div>

{% endblock %}
