{% extends 'base.html.twig' %}

{% block header %}
<head>
    <title> Home !</title>
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/containerPrinc.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}">
</head>
{% endblock %}

{% block title %} Hello MainController! {% endblock %}

{% block body %}

    <div class="containerPrinc">
        <div class="test">

            <h1 class="title">Organiser vos Sorties !</h1>

        </div>
    </div>

{% endblock %}
