{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}


{% block header %}
    <link rel="stylesheet" href="{{ asset('assets/css/navBis.css') }}">
{% endblock %}

{% block body %}
    <h1>Edit sortie</h1>

    {{ include('sortie/_form.html.twig', {'button_label': 'Update'}) }}



{% endblock %}