{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}


{% block header %}
    <link rel="stylesheet" href="{{ asset('assets/css/navBis.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/containerPrinc.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/styleNewSorties.css') }}">
{% endblock %}

{% block body %}

    <div class="back">
<div class="containerPrinc">
    <div class="flexerMID ez form">
        <fieldset class="fieldset1 flexerMID fieldset3">
    {{ include('sortie/_form.html.twig', {'button_label': 'Update'}) }}
        </fieldset> </div>
</div>

    </div>



{% endblock %}