.containerPrinc {
    position: relative;
    height: 100vh;
    margin: 0;
}
.alert-error {
    display: flex;
    background-color: orangered;
    width: 100%;
    height: 34px;
    padding-top: 1%;
    justify-content: center;
    color: white;
}
.alert-success {
    display: flex;
    background-color: green;
    width: 100%;
    height: 34px;
    padding-top: 1%;
    justify-content: center;
    color: white;
}

.containerPrinc2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/background/background-home.png");
}

.flexer {
    display: flex;
}

.flexerMID {
    display: flex;
    justify-content: center;
    align-items: center;
}

flexerCol {
    display: flex;
    flex-direction: column;
}

.margR10 {
    margin-right: 10%;
}

.margT {
    margin-top: 1%;
}

@media (max-width:600px){

    .containerPrinc {
        background-image: url("../img/background/1069102.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -100px;

    }
}