

#hamburger-input{
    display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    z-index: 999;
    height: 50px;
    display: inline;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(
            to bottom,
            #3D0E61, #3D0E61 20%,
            transparent 20%, transparent 40%,
            #3D0E61 40%, #3D0E61 60%,
            transparent 60%, transparent 80%,
            #3D0E61 80%, #3D0E61 100%
    );

}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #3D0E61;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
    color: #B9FAF8;
    font-size: 2.2rem;
}

#hamburger-menu ul {
    padding-left: 0px;
}

#hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
}

#hamburger-menu a {
    color: #B9FAF8;
    font-size: 1.3rem;
    text-decoration: none;
}

#hamburger-menu a:hover {
    text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
    visibility: visible;
    opacity: 0.4;
}


#main-menu {
    display: none;
    height: 100px;
    width: 100%;
    background: #3D0E61;
    margin: 0px;
    z-index: 9;
}

#main-menu ul {
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9;
}

#main-menu li {
    list-style-type: none;
    font-size: 2rem;
}

#main-menu a {
    color: #B9FAF8;
    font-size: 1.5rem;
    text-decoration: none;
}

#main-menu a:hover {
    text-decoration: underline;
}



@media screen and (max-width: 600px) {

    /* styles pour le menu hamburger */
    #hamburger-menu {
        display: inline;
    }

    #main-menu {
        height: auto;
        display: none;
        background: none;
    }

    #main-menu ul {
        flex-direction: column;
        align-items: flex-start;
    }

    #main-menu li {
        font-size: 1.5rem;
        margin: 10px 0;
    }

    #hamburger-input:checked + #hamburger-menu #sidebar-menu {
        left: 0;
    }



}