html {
    margin: 0px;
    height: 100vh;
}

body {
    background-image: url("../img/background/background-home.png");
    background-repeat: no-repeat;
    background-position: bottom 10px right 10px;
    width: 100%;

}

fieldset {
    border: 2px solid darkslategrey;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.margin-top{
    margin-top: 15px;
}

.user-photo {
    width: 80px; /* Set the width of the photo */
    height: 80px; /* Set the height of the photo */
    object-fit: cover; /* This property ensures that the aspect ratio of the photo is preserved while resizing */
    border-radius: 50%; /* You can add this property to make the photo circular */
}


legend {
    padding: 0 10px;
    font-weight: bold;
}

/* Espacement des éléments du formulaire */
form.container .form-group {
    margin-bottom: 30px;
}

/* Centrer le formulaire */
form.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style des éléments de formulaire */
form.container .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}


form.container input, form.container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.cancel-button {
    background-color: #FF3B30; /* Couleur d'arrière-plan rouge */
}

.cancel-button:hover {
    background-color: #D92B26; /* Couleur d'arrière-plan rouge foncé au survol */
}

.img1 {
    width: 200px;
    height: 200px;
    border-width: 3px; /* Set the width of the border */
    border-style: solid; /* Set the style of the border */
    border-color: darkslategrey;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Ajout de nouveaux styles */
.profile-content {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 70%;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    height: 70vh;
}

.profile-details p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}


button:hover {
    background-color: #2980b9;
}

.profile-actions {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-actions a {
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
}



@media screen and (max-width: 600px) {
    .img1 {
        width: 200px;
        height: 133px;
    }

    .container1 {
        padding-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .profile-details p {
        font-size: 0.9rem;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .profile-actions a {
        padding: 6px 12px;
        font-size: 12px;
    }

    /* Ajout de nouveaux styles */
    .profile-content {
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 80%;
        margin: 16% auto 10%;
        height: 50vh;
    }
}
