@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
    font-family: 'Cabin', 'Arial', Sans-serif, serif;
}
.margR{
    margin-right: 15px;
}
.flexer {
    display: flex;
    width: 100%;
}

.containerFiltre {
    width: 40%;
    align-items: center;
}
.containerCampus{
    padding-bottom: 10px;
}

.form1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    color: black;
    border-radius: 10px;
    box-shadow:0px 0px 20px 5px rgba(0, 0, 0, 0.3);
    padding: 5px;
    margin: auto;
}
.checkboxFiltre{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.form1-filtres{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}


.dateCampus {
    text-align: center;
    width: 40%;

}
.dateCampus label{
    padding-bottom: 15px;
}
/* Styles pour le formulaire */


/* Styles pour les champs de formulaire */
label {
    font-size: 20px;
    font-family: "Sono", serif;
}

select, input[type="text"], input[type="number"], input[type="search"]{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    margin-bottom: 20px;
}
select, input[type="date"]{
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    width: 60%;
    border: none;
}

    /* Styles pour le bouton */
button {
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.2s ease;
    cursor: pointer;
}
button:hover {
    background-color: blue;
}
.button_afficher{
    background-color: darkgreen;
}
.button_inscrire{
    background-color: #DE970B;
}
.button_desister{
    background-color: darkred;
}
.button_modifier{
    background-color: #DE970B;
}
.button_publier{
    background-color: #5DA5A4;
}
.button_annuler{
    background-color: darkred;
}
.button_action_list{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/*FORM */

.form-container{
    width: 80%;
    padding: 20px;
    margin: auto;
}
.liste_sortir{
    margin-top: 15px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 3px solid darkslategrey;
    border-radius: 15px;

}
.alert-danger{
    background-color: orangered;
}

.form1 input[type="text"],
.form1 input[type="datetime-local"],
.form1 input[type="number"],
.form1 textarea {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form1 select {
    padding: 10px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 10px auto;
}

.form1 input[type="checkbox"] {
    padding-right: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}


.form button:hover {
    background-color: #4c8f8e;
}

.addBouton{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
}
.fond_cross {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cross {
    margin: 0;
    font-size: 40px;
    color: red;
}
.fond_cross {
    border: 1px solid #ccc;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #5a98d6;
}

/* Tableau */
.table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    font-size: 0.9em;
    color: black;
}
/* Ajouter cette classe pour rendre le tableau défilant */

.table thead th {
    background-color: #5a98d6;
    color: #f3f3f3;
    text-align: left;
    padding: 10px;
}

.table tbody td {
    border-top: 1px solid #dddddd;
    padding: 10px;
    color: black;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:hover {
    background-color: #dddddd;
}

.table-gradient {
    background-image: linear-gradient(to right, #5a98d6 0%, #f3f3f3 100%);
    background-repeat: no-repeat;
    background-size: 100% 20px;
}

.table-responsive {
    overflow-x: auto !important;
    max-height: 500px;
    margin: auto;
    padding: 10px;
}
.titre_list{
    margin: auto;
    width: 90%;
    text-align: center;
    border-radius: 20px;
    font-family: "Sono", serif;
}

#title_filtre{
    padding: 10px;
    border-radius: 10px;
}
#title_filtre p{
    font-size: x-large;
    font-family: "Sono", serif;
    margin: 0;
    padding: 5px;
}

@media screen and (max-width: 600px) {


    .table-responsive {
        overflow-x: auto !important;
        -webkit-overflow-scrolling: touch;
        max-height: 200px;
    }


    /* styles pour le formulaire */
    .form1 {
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .form1 input[type="text"],
    .form1 input[type="datetime-local"],
    .form1 input[type="number"],
    .form1 textarea {
        font-size: 14px;
    }

    .form1 button {
        font-size: 14px;
    }

    a button {
        font-size: 14px;
    }

    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        padding-left: 10px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.8em;

    }

    .table td:last-child {
        border-bottom: 1px solid #dddddd;
    }


    .table-responsive {
        overflow-x: auto !important;
        -webkit-overflow-scrolling: touch;
        max-height: 390px;
        margin-bottom: 5%;
    }

}

