@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    min-height: 200vh;
    line-height: 1.6;
    font-family: 'Cabin', 'Arial', Sans-serif;
}

.modifB {
    margin-right: 3%;
}

.container2bis {
    display: flex;
    flex-direction: column;
}

.flexer {
    display: flex;
    padding-left: 35%;

}

.submitB {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 47%;

}

.flexerCol {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    text-align: center;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}



#main-menu {
    display: none;
    height: 100px;
    width: 100%;
    background: #3D0E61;
    margin: 0px;
    z-index: 9;
}

#main-menu ul {
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9;
}

#main-menu li {
    list-style-type: none;
    font-size: 2rem;
}

#main-menu a {
    color: #B9FAF8;
    font-size: 1.5rem;
    text-decoration: none;
}

#main-menu a:hover {
    text-decoration: underline;
}

#hamburger-input{
    display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: inline;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(
            to bottom,
            #3D0E61, #3D0E61 20%,
            white 20%, white 40%,
            #3D0E61 40%, #3D0E61 60%,
            white 60%, white 80%,
            #3D0E61 80%, #3D0E61 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #3D0E61;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
    color: #B9FAF8;
    font-size: 2.2rem;
}

#hamburger-menu ul {
    padding-left: 0px;
}

#hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
}

#hamburger-menu a {
    color: #B9FAF8;
    font-size: 1.3rem;
    text-decoration: none;
}

#hamburger-menu a:hover {
    text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
    visibility: visible;
    opacity: 0.4;
}


/* Styles pour le container 1 */
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 0%;
}

.container2 {
    margin-left: 5%;
    margin-right: 5%;

}

/* Styles pour le titre */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Styles pour le formulaire */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Styles pour les champs de formulaire */
label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

select, input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-bottom: 20px;
}

/* Styles pour le bouton */
button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #5DA5A4;
    color: #fff;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #3e8e41;
}



/* Form */
container {
    box-shadow: 0 4px 6px rgba(0,0,0,.1);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
}

form input[type="text"],
form input[type="datetime-local"],
form input[type="number"],
form textarea {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form select {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 4 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 5L0 1h4l-2 4z' fill='%2396A1AF'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 10px auto;
}

form input[type="checkbox"] {
    margin: 10px 0 20px;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #5DA5A4;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

form button:hover {
    background-color: #4c8f8e;
}

a button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #ccc;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

a button:hover {
    background-color: #b3b3b3;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #5a98d6;
}

/* Tableau */
.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 0.9em;
}
/* Ajouter cette classe pour rendre le tableau défilant */
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table thead th {
    background-color: #5a98d6;
    color: #ffffff;
    text-align: left;
    padding: 10px;
}

.table tbody td {
    border-top: 1px solid #dddddd;
    padding: 10px;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:hover {
    background-color: #dddddd;
}

.table-gradient {
    background-image: linear-gradient(to right, #5a98d6 0%, #f3f3f3 100%);
    background-repeat: no-repeat;
    background-size: 100% 20px;
}

.addBouton {
    margin-left: 45%;
    margin-bottom: 25px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #5DA5A4;
    color: #fff;
    transition: background-color 0.2s ease;
}

@media screen and (max-width: 600px) {

    .flexer {
        display: flex;
        padding-left: 10%;

    }

    .submitB {
        margin-left: 37%;
    }

    .container1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container2 {
        margin-left: 0%;
        margin-right: 0%;

    }

    body {
        font-size: 16px;
    }

    .table-responsive {
        overflow-x: auto !important;
        -webkit-overflow-scrolling: touch;
    }


    /* styles pour le menu hamburger */
    #hamburger-menu {
        display: inline;
    }

    #main-menu {
        height: auto;
        display: none;
        background: none;
    }

    #main-menu ul {
        flex-direction: column;
        align-items: flex-start;
    }

    #main-menu li {
        font-size: 1.5rem;
        margin: 10px 0;
    }

    #hamburger-input:checked + #hamburger-menu #sidebar-menu {
        left: 0;
    }

    /* styles pour le formulaire */
    form {
        max-width: 100%;
    }

    form input[type="text"],
    form input[type="datetime-local"],
    form input[type="number"],
    form textarea {
        font-size: 14px;
    }

    form button {
        font-size: 14px;
    }

    a button {
        font-size: 14px;
    }

    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        text-align: center;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        padding-left: 10px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.8em;

    }

    .table td:last-child {
        border-bottom: 1px solid #dddddd;
    }
}

