@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
    font-family: 'Cabin', 'Arial', Sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/background/background-home.png");
}

.containerPrinc {
    position: relative;
    height: 60vh;
    margin: 0;

}

.flexer {
    display: flex;
    width: 100%;
    margin-top: 5%;
}

.containerFiltre {
    align-items: center;
    text-align: center;
    width: 40%;
}

.dateCampus {
    align-items: center;
    text-align: center;
    width: 40%;
    margin-left: 5%;
    margin-right: 10%;
}

.submitB {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 47%;

}

/* Styles pour le formulaire */


/* Styles pour les champs de formulaire */
label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

select, input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-bottom: 20px;
}

/* Styles pour le bouton */
button {

    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #3e8e41;
}

/*FORM */

.form1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: rgba(3, 159, 255, 0.66);
    color: white;
    height: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.alert-danger{
    background-color: orangered;
}

.form1 input[type="text"],
.form1 input[type="datetime-local"],
.form1 input[type="number"],
.form1 textarea {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form1 select {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 10px auto;
}

.form1 input[type="checkbox"] {
}

.form1 button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #5DA5A4;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.form button:hover {
    background-color: #4c8f8e;
}

a button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #ccc;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

a button:hover {
    background-color: #b3b3b3;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #5a98d6;
}

/* Tableau */
.table {
    width: 100%;
    margin-top: 20px;
    background-color: white;
    border-collapse: collapse;
    font-size: 0.9em;
    color: black;
}
/* Ajouter cette classe pour rendre le tableau défilant */

.table thead th {
    background-color: #5a98d6;
    color: #f3f3f3;
    text-align: left;
    padding: 10px;
}

.table tbody td {
    border-top: 1px solid #dddddd;
    padding: 10px;
    color: black;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:hover {
    background-color: #dddddd;
}

.table-gradient {
    background-image: linear-gradient(to right, #5a98d6 0%, #f3f3f3 100%);
    background-repeat: no-repeat;
    background-size: 100% 20px;
}

.addBouton {
    margin-left: 45%;
    margin-bottom: 25px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #5DA5A4;
    color: #fff;
    transition: background-color 0.2s ease;
}

.table-responsive {
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch;
    max-height: 400px;
    margin-bottom: 5%;
    width: 80%;
    margin-top: -25px;
    margin: auto;
}

@media screen and (max-width: 600px) {


    .table-responsive {
        overflow-x: auto !important;
        -webkit-overflow-scrolling: touch;
        max-height: 200px;
    }


    /* styles pour le formulaire */
    .form1 {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .form1 input[type="text"],
    .form1 input[type="datetime-local"],
    .form1 input[type="number"],
    .form1 textarea {
        font-size: 14px;
    }

    .form1 button {
        font-size: 14px;
    }

    a button {
        font-size: 14px;
    }

    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        text-align: center;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        padding-left: 10px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.8em;

    }

    .table td:last-child {
        border-bottom: 1px solid #dddddd;
    }


    .table-responsive {
        overflow-x: auto !important;
        -webkit-overflow-scrolling: touch;
        max-height: 390px;
        margin-bottom: 5%;
    }
}

