/* Reset des marges et des paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style général */
body {
    font-family: Arial, sans-serif;
}

.user-photo {
    width: 80px; /* Set the width of the photo */
    height: 80px; /* Set the height of the photo */
    object-fit: cover; /* This property ensures that the aspect ratio of the photo is preserved while resizing */
    border-radius: 50%; /* You can add this property to make the photo circular */
}

.cancel-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.save-button {
    background-color: #FFC107; /* Couleur d'arrière-plan jaune */
}

.save-button:hover {
    background-color: #E0A800; /* Couleur d'arrière-plan jaune foncé au survol */
}

.cancel-button {
    background-color: #FF3B30; /* Couleur d'arrière-plan rouge */
}

.cancel-button:hover {
    background-color: #D92B26; /* Couleur d'arrière-plan rouge foncé au survol */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

/* Style du fieldset */
fieldset {
    border: 5px solid darkslategrey;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.margin-top{
    margin-top: 15px;
}

legend {
    padding: 0 10px;
    font-weight: bold;
}

/* Espacement des éléments du formulaire */
form.container .form-group {
    margin-bottom: 30px;
}


/* Centrer le formulaire */
form.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style des éléments de formulaire */
form.container .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

form.container label {
    margin-bottom: 10px;
}

form.container input, form.container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Style des boutons */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
