<!DOCTYPE html>
<html>
{% block head %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/styleNewSortie.css') }}">
    <title>{% block title %}Sortie !{% endblock %}</title>
{% endblock %}
</head>
<body>
 <header>
        {% include 'menu/nav.html.twig' %}
 </header>

 {% block body %} {% endblock %}

 <footer>
     {% include 'menu/footer.html.twig' %}
 </footer>

</body>
</html>
